*{
    margin: 0;
    padding: 0;    
}

header{
    display: flex;
    justify-content: center;

    background: white;
    margin: 1.5rem;
}

header h1{
    font-size: 3rem; 
    color: #000;   
}

main{
    background: #824f9a;
    display: flex;
    justify-content: space-evenly;    

    padding-top: 2rem;
    border-radius: 30px;
}

section{
    display: flex;    
    justify-content: center;

    margin-bottom: 3rem;   
}

hr{
    width: 80%;
    border: 2px solid white;
    border-radius: 2px;

    box-shadow:  2px 1px #f7941f;
    -webkit-box-shadow: 2px 2px 4px #f7941f;
}

h1{
    font-size:x-large;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
   
    margin-bottom: 1rem;
}

p{
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.rightSection{
    max-width: 50%;
}

.leftSection{
    max-width: 50%;
}

.description{
    color: rgb(183, 183, 183);
   
    margin-right: 3rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.flexContainer{
    background:#995db5;
    border: 2px solid #000;
    border-radius: 8px;
                
    padding: 0.5rem 0.5rem;

    gap: 1.5rem;
}

/*---------------------- space-between -------------------*/
.space-between .flexContainer{        
    display: flex;
    justify-content: space-between;
    
}
/*---------------------- space-around -------------------*/
.space-around .flexContainer{     
    display: flex;
    justify-content: space-around;
    
}
/*---------------------- space-evenly -------------------*/
.space-evenly .flexContainer{     
    display: flex;
    justify-content: space-evenly;
    
}
/*---------------------- flex-start -------------------*/
.flex-start .flexContainer{     
    display: flex;
    justify-content: flex-start;
    
}
/*---------------------- flex-end -------------------*/
.flex-end .flexContainer{     
    display: flex;
    justify-content: flex-end;
    
}
/*---------------------- center -------------------*/
.center .flexContainer{     
    display: flex;
    justify-content: center;
    
}

/*---------------------- row-reverse -------------------*/
.row-reverse .flexContainer{  
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;           
}
/*---------------------- Column-reverse -------------------*/
.Column-reverse .flexContainer{   
    display: flex;
    flex-direction: column-reverse;   
    align-items: center;    
}

/*---------------------- nowrap -------------------*/
.nowrap .flexContainer{   
    display: flex;
    flex-wrap: nowrap;       
}

/*---------------------- wrap -------------------*/
.wrap .flexContainer{       
    flex-wrap: wrap;      
    align-items: center;    
}
/*---------------------- wrap-reverse -------------------*/
.wrap-reverse .flexContainer{  
    display: flex;     
    flex-wrap: wrap-reverse;          
}

/*---------------------- flex-flow -------------------*/
.flex-flow .flexContainer{  
    display: flex;     
    flex-flow: row-reverse;   
}

/*---------------------- flex-start -------------------*/
.flex-start .flexContainer{  
    height: 7rem;
    
    display: flex;     
    align-items: flex-start;
}

/*---------------------- flex-end -------------------*/
.flex-end .flexContainer{  
    height: 7rem;

    display: flex;     
    align-items: flex-end;
}

/*---------------------- center -------------------*/
.align-itens-center .flexContainer{  
    height: 7rem;

    display: flex;     
    align-items: center;
}
/*---------------------- flex-end -------------------*/
.stretch .flexContainer{  
    height: 7rem;

    display: flex;     
    align-items: stretch;
}
/*---------------------- flex-end -------------------*/
.baseline .flexContainer{  
    height: 7rem;

    display: flex;     
    align-items: baseline;
}

/*---------------------- flex-start -------------------*/
.align-content-flex-start .flexContainer{  
    height: 10rem;
    
    display: flex;     
    flex-wrap: wrap;
    align-content: flex-start;
}

/*---------------------- flex-end -------------------*/
.align-content-flex-end .flexContainer{  
    height: 10rem;

    display: flex;   
    flex-wrap: wrap;  
    align-content: flex-end;
}

/*---------------------- center -------------------*/
.align-content-center .flexContainer{  
    height: 9rem;
    
    display: flex;     
    flex-wrap: wrap;
    align-content: center;
}
/*---------------------- flex-end -------------------*/
.align-content-stretch .flexContainer{  
    height: 10rem;

    display: flex;  
    flex-wrap: wrap;   
    align-content: stretch;
}

/*---------------------- flex-end -------------------*/
.align-content-space-between .flexContainer{  
    height: 10rem;
    
    display: flex;   
    flex-wrap: wrap;  
    align-content: space-between;
}

/*---------------------- flex-end -------------------*/
.align-content-space-around .flexContainer{  
    height: 10rem;

    display: flex;    
    flex-wrap: wrap; 
    align-content: space-around;
}


/*-------------------------- Elementos filhos (itens) --------------------------*/

.flexItem{
    background:#f7941f;
    border: 2px solid #000;
    border-radius: 8px;

    width: 3rem;
    height: 3rem;
}

.flexItem:first-child{
    width: 4rem;
}
.flexItem:last-child{
    width: 5rem;
}
.flexItem:nth-child(4){
    width: 6rem;
}
.flexItem:nth-child(5){
    width: 2rem;
}
.flexItem:nth-child(6){
    width: 2.6rem;
}

.align-itens .flexItem:first-child{
    height: 4rem;
}

.align-itens .flexItem:last-child{
    height: 5rem;
}
.align-itens .flexItem:nth-child(2){
    height: 6rem;
}
.align-itens .flexItem:nth-child(3){
    height: 2rem;
}
.align-itens .flexItem:nth-child(4){
    height: 2.6rem;
}