*{
    margin: 0;
    padding: 0;
    
}

header{
    height: 4rem;
}

body{
    background: #824f9a;
    
}

section{
    display: flex;
    
    align-items: flex-start;
    justify-content: center;

    margin-bottom: 3rem;   
}

hr{
    width: 80%;
    border: 2px solid white;
    border-radius: 2px;

    box-shadow:  2px 1px #f7941f;
    -webkit-box-shadow: 2px 2px 4px #f7941f;
}

h1{
    font-size:x-large;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;

    margin-left: 3rem;
    margin-bottom: 1rem;
}

p{
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}
.description{
    color: rgb(224, 223, 223);
    margin-left: 3rem;
    margin-right: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.flexContainer{
    background:#995db5;
    border: 2px solid #000;
    border-radius: 8px;
            
    width: 16rem;
    padding: 2rem 0.5rem;

    gap: 0.5rem;
}

/*---------------------- space-between -------------------*/
.space-between .flexContainer{        
    display: flex;
    justify-content: space-between;
    
}
/*---------------------- space-around -------------------*/
.space-around .flexContainer{     
    display: flex;
    justify-content: space-around;
    
}
/*---------------------- space-evenly -------------------*/
.space-evenly .flexContainer{     
    display: flex;
    justify-content: space-evenly;
    
}
/*---------------------- flex-start -------------------*/
.flex-start .flexContainer{     
    display: flex;
    justify-content: flex-start;
    
}
/*---------------------- flex-end -------------------*/
.flex-end .flexContainer{     
    display: flex;
    justify-content: flex-end;
    
}
/*---------------------- center -------------------*/
.center .flexContainer{     
    display: flex;
    justify-content: center;
    
}

/*---------------------- row-reverse -------------------*/
.row-reverse .flexContainer{  
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;           
}
/*---------------------- Column-reverse -------------------*/
.Column-reverse .flexContainer{   
    display: flex;
    flex-direction: column-reverse;   
    align-items: center;    
}

/*---------------------- nowrap -------------------*/
.nowrap .flexContainer{   
    display: flex;
    flex-wrap: nowrap;       
}

/*---------------------- wrap -------------------*/
.wrap .flexContainer{       
    flex-wrap: wrap;      
    align-items: center;    
}
/*---------------------- wrap-reverse -------------------*/
.wrap-reverse .flexContainer{  
    display: flex;     
    flex-wrap: wrap-reverse;          
}

/*---------------------- column-wrap -------------------*/
.column-wrap .flexContainer{  
    display: flex;     
    flex-flow:inherit;   
}

.flexItem{
    background:#f7941f;
    border: 2px solid #000;
    border-radius: 8px;

    width: 3rem;
    height: 3rem;
}