*{
    margin: 0;
    padding: 0;
    
}

header{
    height: 4rem;
}

body{
    background: #824f9a;
}

section{
    display: flex;
    
    align-items: flex-start;
    justify-content: center;

    height: 10rem;   
}

h1{
    font-size:x-large;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;

    margin-left: 3rem;
    margin-bottom: 1rem;
}

p{
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.flexContainer{
    background:#995db5;
    border: 2px solid #000;
    border-radius: 8px;
            
    width: 16rem;
    padding: 2rem 0.5rem;

    gap: 1rem;
}

/*---------------------- space-between -------------------*/
.space-between .flexContainer{        
    display: flex;
    justify-content: space-between;
    
}
/*---------------------- space-around -------------------*/
.space-around .flexContainer{     
    display: flex;
    justify-content: space-around;
    
}

/*---------------------- space-evenly -------------------*/
.space-evenly .flexContainer{     
    display: flex;
    justify-content: space-evenly;
    
}

/*---------------------- row-reverse -------------------*/
.row-reverse .flexContainer{  
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
}

/*---------------------- Column-reverse -------------------*/
.Column-reverse .flexContainer{   
    display: flex;
    flex-direction: column-reverse;   
    align-items: center;    
}

.flexItem{
    background:#f7941f;
    border: 2px solid #000;
    border-radius: 8px;

    width: 3rem;
    height: 3rem;
}